.main {
    background-color: #1d1f1f;
    color: white;
    min-height: 800px;
}
.header {
    button {
        width: 237px;
        height: 52px;
        margin: 10px;
        background-color: #e1951b;
        color: white;
        border: none;
        cursor: pointer;
    }
}

table {
    min-width: 300px;
    max-width: 100%;

    tr:nth-child(even) {
        background: #2a2929;
    }
    tr:nth-child(odd) {
        background: #1d1f1f;
    }
    th,
    td {
        text-align: center;
        height: 68px;
        width: 200px;
    }
}
